/* General Code */

html {
	background-color:black;
	color:lime;
}

body {
	overflow:hidden;
	user-select:none;
	font-family:consolas, monospaced;
}

.content-wrapper {
	position:absolute;
	top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.content-wrapper > * {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
}

:focus {
	outline:none;
}
