* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    color: #666;
    background-color: white;
    background-image: url(../Images/bg.jpg);
    background-repeat: repeat-y;
    font-family: 'Arial';
    font-size: 18px;
    line-height: 20px;
}

section {
    display: inline-block;
    border: 1px solid black;
    background-color: #DEEEEF;
    margin-bottom: 50px;
    padding: 10px;
}

img {
    max-width: 100%;
}

a,
a:focus,
a:visited,
a:hover {
    color: #66f;
}

a.CPTAG, a.CFTAG,
a.CPTAG:focus, a.CFTAG:focus,
a.CPTAG:visited, a.CFTAG:visited,
a.CPTAG:hover, a.CFTAG:hover {
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    text-decoration: inherit !important;
}

h1 {
    font-size: 32px;
    padding-bottom: 15px;
}

p {
    margin: 0 auto;
    padding-bottom: 15px;
}

#sidebar {
    float: left;
    border: 1px solid black;
    background-color: #DEEEEF;
    margin: 20px 0 40px 2%;
    padding: 10px;
    min-width: 100px;
    width: 10%;
}

#sidebar li {
    font-family: 'Arial Black';
    font-size: 16px;
    margin-bottom: 20px;
}

#container {
    padding: 20px 10px 0 10px;
    margin: 0 auto;
    width: 70%;
}

#bottom {
    clear: both;
    background-color: #DEEEEF;
    padding: 40px;
}

.inline-block {
    display: inline-block;
}

.product {
    margin: 0 6% 50px 6%;
    width: 20%;
    height: 350px;
    min-width: 250px;
    max-width: 300px;
}

.w33 {
    width: 33%;
}

.w50 {
    width: 49.99%;
}

.w50 img,
.mw50 {
    max-width: 50%;
}

.strong {
    font-weight: 600;
}

.nomargin {
    margin: 0;
}

.nopadding {
    padding: 0;
}

.pgpkey {
    max-width: 620px;
}

.pt {
    padding-top: 20px;
}

.pb {
    padding-bottom: 50px;
}

.pl {
    padding-left: 10px;
}

.pr {
    padding-right: 10px;
}

.mt {
    margin-top: 40px;
}

.mtl {
    margin-top: 80px;
}

.mb {
    margin-bottom: 40px;
}

.mbl {
    margin-bottom: 80px;
}

.text-arialblack {
    font-family: 'Arial Black';
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-xlarge {
    font-size: 48px;
}

.text-large {
    font-size: 32px;
}

.text-medium {
    font-size: 24px;
}

.text-normal {
    font-size: 18px;
}

.text-standard {
    font-size: 16px;
}

.text-small {
    font-size: 12px;
}

.text-brown {
    color: #a97049;
}

.text-orange {
    color: #f60;
}

.text-blue {
    color: #69f;
}

.text-silver {
    color: silver;
}

.text-linethrough {
    text-decoration: line-through;
}

.text-underline {
    text-decoration: underline;
}

.img-responsive {
    width: 100%;
    max-width: 100%;
}

.clearfix {
    clear: both;
}

.relative {
    position: relative;
}

.pull-left {
    float: left;
    right: 0;
}

.pull-right {
    float: right;
    right: 0;
}

.pull-down {
    position: absolute;
    top: auto;
    bottom: 0;
}