.CPTAG {
  outline: 10px solid rgba(255,255,0,0.75)
}

.CFTAG {
  outline: 10px solid rgba(0,255,30,0.75)
}

.CPTAG_area {
  background: rgba(255,255,0,0.25)
}

.CFTAG_area {
  background: rgba(0,255,30,0.25)
}

* {
  pointer-events: none !important;
}

img.nudity {
  filter: blur(18px) !important;
}