* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: middle;
}

body {
    color: yellow;
    background: url(../Images/background.gif);
    font-size: 18px;
    padding: 20px;
    line-height: 1;
}

img {
    max-width: 100%;
}

a,
a:focus,
a:visited,
a:hover {
    color: yellow;
    font-size: 48px;
    text-decoration: none;
}

a.CPTAG, a.CFTAG,
a.CPTAG:focus, a.CFTAG:focus,
a.CPTAG:visited, a.CFTAG:visited,
a.CPTAG:hover, a.CFTAG:hover {
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    text-decoration: inherit !important;
}

h1 {
    font-size: 48px;
    padding-bottom: 15px;
}

p {
    margin: 0 auto;
    line-height: 20px;
    padding-bottom: 15px;
}

section {
    display: inline-block;
    background: #121270;
    padding: 60px 25px;
}

section div {
    display: inline-block;
    text-align: left;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
}

section img {
    margin-right: 20px;
}

#container {
    margin: 0 auto;
    max-width: 1320px;
    width: 70%;
}

#nav {
    margin-top: 50px;
    padding: 5px;
}

#nav ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

#nav li {
    display: inline;
}

.strong {
    font-weight: 600;
}

.nopadding {
    padding: 0;
}

.pt {
    padding-top: 20px;
}

.pb {
    padding-bottom: 50px;
}

.pl {
    padding-left: 40px;
}

.pr {
    padding-right: 40px;
}

.mt {
    margin-top: 40px;
}

.mb {
    margin-bottom: 40px;
}

.ml {
    margin-left: 50px;
}

.mr {
    margin-right: 50px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-xlarge {
    font-size: 48px;
}

.text-large {
    font-size: 32px;
}

.text-medium {
    font-size: 24px;
}

.text-normal {
    font-size: 18px;
}

.text-small {
    font-size: 12px;
}

.text-underline {
    text-decoration: underline;
}

.clearfix {
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}