* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    color: red;
    background-color: black;
    text-align: center;
    font-size: 16px;
    padding: 30px 30px;
    line-height: 1;
}

a,
a:hover,
a:visited {
    color: yellow;
}

a.CPTAG, a.CFTAG,
a.CPTAG:focus, a.CFTAG:focus,
a.CPTAG:visited, a.CFTAG:visited,
a.CPTAG:hover, a.CFTAG:hover {
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    text-decoration: inherit !important;
}

p {
    margin: 0 auto;
    padding-bottom: 15px;
    max-width: 800px;
}

table {
    border: 1px solid grey;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

td {
    border: 1px solid grey;
    padding: 0 0 15px 10px;
    text-align: center;
    vertical-align: middle;
}

td img {
    margin-top: 10px;
    height: auto;
    width: 100%;
    max-width: 100%;
}

td a img {
    height: 24px;
    width: auto;
}

.threecolumns {
    display: block;
    margin: 0 auto;
}

.threecolumns img {
    float: left;
    height: auto;
    max-height: 400px;
}

.compact {
    max-width: 736px !important;
    width: 80%;
}

.strong {
    font-weight: 600;
}

.pt {
    padding-top: 20px;
}

.pb {
    padding-bottom: 50px;
}

.pl {
    padding-left: 10px;
}

.pr {
    padding-right: 10px;
}

.imgcol {
    min-width: 280px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-yellow {
    color: yellow;
}

.text-silver {
    color: #c0c0c0;
}

.text-large {
    font-size: 48px;
}

.text-medium {
    font-size: 32px;
}

.text-normal {
    font-size: 18px;
}

.text-small {
    font-size: 12px;
}

.text-underline {
    text-decoration: underline;
}

.clearfix {
    clear: both;
    display: inline-block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}