* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    color: rgb(247, 228, 213);
    background-color: rgb(185, 68, 47);
    font-size: 18px;
    line-height: 1;
}

p {
    margin: 0 auto;
    padding-bottom: 15px;
    max-width: 800px;
}

table {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

td {
    padding: 0 0 15px 10px;
    text-align: center;
    vertical-align: middle;
}

td img {
    width: auto;
    max-width: 100%;
    height: 200px;
}

#header {
    background: url(../Images/bannerTop.jpg) center right no-repeat;
    background-size: contain;
    background-color: rgb(234, 193, 157);
}

#header h2 {
    font-family: 'Cooper Std Black';
    font-size: 48px;
    padding: 70px 0 70px 15%;
    color: rgb(148, 52, 29);
}

#nav {
    background-color: rgb(114, 70, 32);
    padding: 5px 0;
    text-align: center;
}

#nav ul {
    display: block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

#nav li {
    display: inline;
}

#content {
    padding: 30px 40px;
    text-align: center;
}

#content div {
    margin: 0 auto;
    max-width: 1200px;
}

.compact {
    max-width: 570px !important;
}

.strong {
    font-weight: 600;
}

.pt {
    padding-top: 10px;
}

.pb {
    padding-bottom: 50px;
}

.imgcol {
    min-width: 280px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.clearfix {
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}