@font-face {
    font-family: 'Arno Pro';
    src: url(Assets/arnopro.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
 
ol,
ul {
    list-style: none;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
 
a.CPTAG, a.CFTAG,
a.CPTAG:focus, a.CFTAG:focus,
a.CPTAG:visited, a.CFTAG:visited,
a.CPTAG:hover, a.CFTAG:hover {
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    text-decoration: inherit !important;
}
 
body {
    line-height: 1;
}
 
img {
    max-width: 100%;
}
 
p {
    margin: 0 auto;
    padding-bottom: 15px;
}
 
.arnopro {
    font-family: 'Arno Pro Light Display';
}

.container {
    margin: 0 auto;
    width: 70%;
    min-width: 800px;
    max-width: 1200px;
}

.strong {
    font-weight: 600;
}
 
.nopadding {
    padding: 0;
}
 
.relative {
    display: inline-block;
    position: relative;
}
 
.pt {
    padding-top: 20px;
}
 
.pb {
    padding-bottom: 50px;
}
 
.pl {
    padding-left: 10px;
}
 
.pr {
    padding-right: 10px;
}
 
.mt {
    margin-top: 20px;
}
 
.mb {
    margin-bottom: 50px;
}
 
.text-center {
    text-align: center;
}
 
.text-justify {
    text-align: justify;
}
 
.text-left {
    text-align: left;
}
 
.text-right {
    text-align: right;
}
 
.text-large {
    font-size: 48px;
}
 
.text-medium {
    font-size: 24px;
}
 
.text-normal {
    font-size: 18px;
}
 
.text-small {
    font-size: 12px;
}
 
.text-underline {
    text-decoration: underline;
}
 
.clearfix {
    clear: both;
    display: inline-block;
}
 
.img-responsive {
    width: 100%;
    max-width: 100%;
}
 
.pull-left {
    float: left;
}
 
.pull-right {
    float: right;
}

/*   CSS   */

body{
    background-color: #000203;
    font-family: Verdana; 
}

hr{
    width: 100%;
    border-bottom: 2px solid grey;
}

p{
    color: #E9E9E9;
}

.red-text{
    color: #CD1418;
}

.bold{
    font-weight: 700;
}

i{
    font-style: italic !important;
}

a{
    font-weight: 800;
    color: #FFCC00;
    text-decoration: none;
}

.serif{
    font-family: 'Arno Pro';
}