* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ol,
ul {
    list-style: disc;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    color: #F0E2C8;
    background-color: #990000;
    font-family: Arial;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 20px;
}

img {
    max-width: 100%;
}

h1 {
    color: #e6dac9;
    font-size: 24px;
}

p {
    margin: 0 auto;
    padding-bottom: 15px;
    max-width: 800px;
    text-indent: 1em;
}

#logo {
    display: block;
    margin: 0 auto;
    max-width: 900px;
}

#header {
    background-color: #E6DAC9;
    border-bottom: 18px solid #CBA985;
    min-height: 20px;
}

#content {
    text-align: start;
    padding: 30px 40px;
    margin: 0 auto;
    max-width: 900px;
}

#content div {
    margin: 0 auto;
}

.compact {
    max-width: 600px;
}

.text-quote {
    color: #eee9e6;
}

.strong {
    font-weight: 600;
}

.nopadding {
    padding: 0;
}

.pt {
    padding-top: 20px;
}

.pb {
    padding-bottom: 50px;
}

.pl {
    padding-left: 15%;
}

.pr {
    padding-right: 10px;
}

.mt {
    margin-top: 20px;
}

.mb {
    margin-bottom: 50px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-underline {
    text-decoration: underline;
}

.clearfix {
    clear: both;
    display: inline-block;
}

.img-responsive {
    width: 100%;
    max-width: 100%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}