* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: middle;
}

body {
    font-size: 18px;
    padding: 10px 0;
    line-height: 1;
}

hr {
    background: black;
    margin: 20px 0;
    height: 1px;
    width: 100%;
}

img {
    max-width: 100%;
}

a,
a:focus,
a:visited,
a:hover {
    display: inline-block;
    text-decoration: none;
}

a.CPTAG, a.CFTAG,
a.CPTAG:focus, a.CFTAG:focus,
a.CPTAG:visited, a.CFTAG:visited,
a.CPTAG:hover, a.CFTAG:hover {
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    text-decoration: inherit !important;
}

h1 {
    font-size: 48px;
    padding-bottom: 15px;
}

p {
    margin: 0 auto;
    padding-bottom: 15px;
}

.bar {
    margin: 0 auto;
    background: white;
    height: 5px;
    width: 200px;
}

.bar a {
    display: block;
    height: 5px;
    width: 100%;
}

.strong {
    font-weight: 600;
}

.nopadding {
    padding: 0;
}

.pt {
    padding-top: 20px;
}

.pb {
    padding-bottom: 50px;
}

.pl {
    padding-left: 40px;
}

.pr {
    padding-right: 40px;
}

.mt {
    margin-top: 40px;
}

.mb {
    margin-bottom: 40px;
}

.ml {
    margin-left: 64px;
}

.mr {
    margin-right: 64px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-xlarge {
    font-size: 48px;
}

.text-large {
    font-size: 32px;
}

.text-medium {
    font-size: 24px;
}

.text-normal {
    font-size: 18px;
}

.text-small {
    font-size: 12px;
}

.text-underline {
    text-decoration: underline;
}

.text-white {
    color: white;
}

.text-blue {
    color: #0000FF;
}

.text-red {
    color: red;
}

.bg-babyshrimp {
    background: url("https://cdn.glitch.com/b7ad9ef7-7461-4b80-8af2-60feeb7d5bcb%2Fbabycard.jpg");
    margin: 0 auto;
}

.bg-fake-main {
    background: url("https://cdn.glitch.com/b7ad9ef7-7461-4b80-8af2-60feeb7d5bcb%2Fbgmain.jpg");
}

.bg-fake-main a {
    color: #FF00FF;
}

.clever {
    margin-top: 80%;
    margin-top: 80vh;
    text-decoration: underline;
}

.bg-black {
    background: black;
}

.bg-black a, .bg-black a:focus, .bg-black a:visited {
    color: white;
}

.bg-shrimp {
    background: #FFCCFF;
}

.bg-red {
    background: red;
}

.bg-bar {
    color: #FFFFCC;
    background: url("https://cdn.glitch.com/b7ad9ef7-7461-4b80-8af2-60feeb7d5bcb%2Fbg1.jpg");
}

.bg-main {
    background: url("https://cdn.glitch.com/b7ad9ef7-7461-4b80-8af2-60feeb7d5bcb%2Fbgmain.jpg");
}

.bg-evil {
    color: #0066CC;
    background: url("https://cdn.glitch.com/b7ad9ef7-7461-4b80-8af2-60feeb7d5bcb%2Fbg2.jpg");
}

.bg-slide {
    background: #008080;
}

.bg-slide2 {
    background: #008000;
}

.clearfix {
    clear: both;
}

.relative {
    position: relative;
}

.nomargin {
    margin: 0;
}

.w512 {
    width: 512px;
}

.clickspot {
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
}

.clickspot.spot1 {
    top: 1%;
    right: 34%;
}
.clickspot.spot2 {
    top: 19%;
    right: 34%;
}
.clickspot.spot3 {
    top: 37%;
    right: 34%;
}
.clickspot.spot4 {
    top: 60%;
    right: 34%;
}
.clickspot.spot5 {
    top: 58%;
    right: 54%;
}
.clickspot.spot6 {
    top: 24%;
    left: 12%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}