* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body{
	background-color: #FFFFFF;
	font-family: Helvetica Neue, Helvetica, Arial," sans-serif";
	font-size: 18px;
	font-weight: normal;
	color: #0D0D0D;
}

header{
	display: block;
	position: relative;
	width: 368px;
	height: auto;
	margin: 1em auto 0em auto;
}

textarea, textarea:focus, textarea:hover { outline: none; }

#content1{
	display: block;
	position: relative;
	width: 80%;
	height: auto;
	margin: 2em auto 1em auto;
}

.cycleBox{
	display: inline-block;
	min-width: 66px;
	margin: 0em;
	vertical-align: top;
}

.cycleBox a{
	display: block;
	width: 66px;
	height: 66px;
}

#back{
	padding: 10px 10px 0px 0px;
}

#back a{
	background-image: url('https://cdn.glitch.com/b7ad9ef7-7461-4b80-8af2-60feeb7d5bcb%2Fback.png');
}

#forward{
	padding: 10px 0px 0px 10px;
}

#forward a{
	background-image: url('https://cdn.glitch.com/b7ad9ef7-7461-4b80-8af2-60feeb7d5bcb%2Fforward.png');
}

#returnMessage p{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color:#a2c1eb;
}

.confessBox{
	display: inline-block;
	background-color: #ebebeb;
	margin: 0em auto;
	padding: 8px;
	border: 1px solid #a2c1eb;
	min-height: 75px;
	border-radius: 4px;
	width: calc(100% - 172px);
}

#linkToSubmitConf{
	display: block;
	width: 400px;
	margin: 1em auto;
	font-weight: bold !important;
	font-size: 22px;
	color: #FFFFFF;
	background-color: #a2c1eb;
	padding: 15px 0px;
	border-radius: 8px;
	text-align: center;
}


.confessBox p{
	
}

.makeAConfession{

}

.makeAConfession form{
	display: block;
	width: 450px;
	margin: 0em auto;
}

.makeAConfession textarea{
	display: block;
	background-color: #FFFFFF;
	padding: 8px;
	border: 2px solid #a2c1eb;
	border-radius: 4px;
	width: 100%;
	height: 150px;
}

.makeAConfession input[type=button]{
	display: block;
	width: 100%;
	margin: 1em 0em 0em 0em;
	font-weight: bold !important;
	font-size: 22px;
	color: #FFFFFF;
	background-color: #a2c1eb;
	padding: 10px 0px;
	border-radius: 8px;
}