* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

table,
td {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    vertical-align: middle;
}

body {
    color: #c0c0c0;
    background: url(../Images/background4.jpg) repeat;
    font-family: 'Arial';
    font-size: 18px;
    line-height: 1;
}

img {
    max-width: 100%;
}

a,
a:focus,
a:visited,
a:hover {
    color: white;
}

a.CPTAG, a.CFTAG,
a.CPTAG:focus, a.CFTAG:focus,
a.CPTAG:visited, a.CFTAG:visited,
a.CPTAG:hover, a.CFTAG:hover {
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    text-decoration: inherit !important;
}

h1 {
    color: #33CCCC;
    font-size: 48px;
    padding-bottom: 15px;
}

div {
    padding-bottom: 25px;
}

p {
    margin: 0 auto;
    padding-bottom: 25px;
}

#container {
    background: black;
    padding: 0 10%;
    margin: 0 auto;
    width: 80%;
}

#content {
    background: #302E30;
    padding: 10px;
}

.names {
    margin-bottom: 50px;
    max-width: 500px;
    width: 70%;
}

.strong {
    font-weight: 600;
}

.nopadding {
    padding: 0;
}

.pt {
    padding-top: 50px;
}

.pb {
    padding-bottom: 50px;
}

.pl {
    padding-left: 40px;
}

.pr {
    padding-right: 40px;
}

.mt {
    margin-top: 40px;
}

.mb {
    margin-bottom: 40px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-xlarge {
    font-size: 48px;
}

.text-large {
    font-size: 32px;
}

.text-medium {
    font-size: 24px;
}

.text-normal {
    font-size: 18px;
}

.text-small {
    font-size: 12px;
}

.text-underline {
    text-decoration: underline;
}

.clearfix {
    clear: both;
}

.img-responsive {
    width: 100%;
    max-width: 100%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}