* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
    width: 100%;
}

body {
    color: black;
    background: url(../Images/background2.jpg) repeat;
    font-family: 'Arial';
    font-size: 16px;
    line-height: 1;
}

section {
    color: #f9edd2;
    background-color: #436978;
    padding: 20px 20px;
}

section.panel {
    padding: 0;
    margin: 20px auto;
}

section .panel-header {
    font-family: 'Arial Black';
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

section .panel-content {
    color: #436978;
    background-color: #efede7;
    display: inline-block;
    padding: 20px 10px;
    vertical-align: middle;
    width: 100%;
}

img {
    max-width: 100%;
}

a,
a:focus,
a:visited,
a:hover {
    color: white;
}

a.CPTAG, a.CFTAG,
a.CPTAG:focus, a.CFTAG:focus,
a.CPTAG:visited, a.CFTAG:visited,
a.CPTAG:hover, a.CFTAG:hover {
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    text-decoration: inherit !important;
}

h1 {
    font-size: 32px;
    padding-bottom: 15px;
}

p {
    margin: 0 auto;
    padding-bottom: 15px;
}

table,
td {
    background-color: #C0C0C0;
    border: 1px solid black;
    vertical-align: middle;
}

td {
    height: 225px;
}

td.product-img {
    text-align: center;
    width: 12%;
}

td.product-description {
    padding: 10px 10px;
}

table.containers {
    margin: 20px auto;
    max-width: 1100px;
    width: 60%;
}

table.containers,
table.containers td {
    background-color: #F9EDD2;
}

table.containers td {
    color: #436978;
    padding: 10px;
    height: auto;
}

#header {
    background-color: #436978;
    padding: 10px;
}

#nav {
    text-align: center;
    margin: 20px auto 5px auto;
    height: 30px;
    width: 90%;
}

#nav ul {
    display: block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

#nav li {
    display: inline;
}

#nav li a {
    display: inline-block;
}

#container {
    padding: 0 10px 20px 10px;
    margin: 0 auto;
    width: 90%;
}

.pgpkey {
    max-width: 620px;
}

.strong {
    font-weight: 600;
}

.nopadding {
    padding: 0;
}

.nopaddinglr {
    padding-left: 0;
    padding-right: 0;
}

.pt {
    padding-top: 20px;
}

.pb {
    padding-bottom: 50px;
}

.pl {
    padding-left: 40px;
}

.pr {
    padding-right: 40px;
}

.mt {
    margin-top: 40px;
}

.mb {
    margin-bottom: 40px;
}

.ml {
    margin-left: 15px;
}

.mr {
    margin-right: 15px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-xlarge {
    font-size: 48px;
}

.text-large {
    font-size: 32px;
}

.text-medium {
    font-size: 24px;
}

.text-normal {
    font-size: 18px;
}

.text-small {
    font-size: 12px;
}

.text-delivery {
    font-family: 'Arial Black';
    color: #F9EDD2;
    background-color: navy;
    padding: 2px 3px;
}

.text-price {
    font-family: 'Arial Black';
    color: #339;
}

.text-red {
    color: red;
}

.text-orange {
    color: #e9b61e;
}

.text-darkblue {
    color: #339;
}

.text-beige {
    color: #f9edd2;
}

.text-yellow {
    color: yellow;
}

.text-white {
    color: white;
}

.text-underline {
    text-decoration: underline;
}

.clearfix {
    clear: both;
}

.img-responsive {
    width: 100%;
    max-width: 100%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}