a.CPTAG,
a.CPTAG:focus,
a.CPTAG:visited,
a.CPTAG:hover {
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    text-decoration: inherit !important;
	outline: 10px solid rgba(255,255,0,0.75)
}

a.CFTAG,
a.CFTAG:focus,
a.CFTAG:visited,
a.CFTAG:hover {
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    text-decoration: inherit !important;
	outline: 10px solid rgba(0,255,30,0.75)
}

* {
pointer-events: none !important;
}

img.nudity {
filter: blur(18px) !important;
}