* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ol,
ul {
    list-style: disc;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: middle;
}

body {
    color: black;
    background: white;
    font-size: 18px;
    line-height: 1;
}

body.bg-black {
    background: black;
}

img {
    max-width: 100%;
}

a,
a:focus,
a:visited,
a:hover {
    display: inline-block;
    color: white;
}

a.CPTAG, a.CFTAG,
a.CPTAG:focus, a.CFTAG:focus,
a.CPTAG:visited, a.CFTAG:visited,
a.CPTAG:hover, a.CFTAG:hover {
    display: initial;
    color: inherit;
}

h1 {
    font-family: 'Arial Black';
    font-size: 18px;
    padding-bottom: 15px;
}

p {
    margin: 0 auto;
    padding-bottom: 15px;
}

#header {
    color: white;
    background: black;
    font-family: 'Arial Black';
    font-size: 48px;
    padding: 20px 2%;
}

#container {
    margin: 0 auto;
    max-width: 800px;
    width: 50%;
}

#login {
    margin-bottom: 40px;
}

#login .head {
    background: #333333;
    color: white;
    font-family: 'Arial Black';
    text-align: left;
    padding: 10px 40px 10px 10px;
    width: 87%;
}

#login .content {
    background: #CCCCCC;
    padding: 40px;
    width: 74%;
}

#login .content.full {
    width: 100%;
}

#login img {
    margin-top: 15px;
}

.pgpkey {
    font-size: 16px;
    margin: 40px 0;
    max-width: 620px;
}

.strong {
    font-weight: 600;
}

.nopadding {
    padding: 0;
}

.pt {
    padding-top: 20px;
}

.pb {
    padding-bottom: 50px;
}

.pl {
    padding-left: 40px;
}

.pr {
    padding-right: 40px;
}

.mt {
    margin-top: 40px;
}

.mb {
    margin-bottom: 40px;
}

.ml {
    margin-left: 40px;
}

.mr {
    margin-right: 40px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-xlarge {
    font-size: 48px;
}

.text-large {
    font-size: 32px;
}

.text-medium {
    font-size: 24px;
}

.text-normal {
    font-size: 18px;
}

.text-small {
    font-size: 12px;
}

.text-underline {
    text-decoration: underline;
}

.text-darkred {
    color: #800000;
}

.clearfix {
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

* {
pointer-events: none !important;
}