* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

a.CPTAG, a.CFTAG,
a.CPTAG:focus, a.CFTAG:focus,
a.CPTAG:visited, a.CFTAG:visited,
a.CPTAG:hover, a.CFTAG:hover {
    color: inherit !important;
    font-weight: inherit !important;
    text-decoration: inherit !important;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

body {
    color: white;
    background-color: #c0c0c0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1;
}

p {
    margin: 0 auto;
    padding-bottom: 15px;
    max-width: 800px;
}

input {
    height: 20px;
    max-width: 100%;
}

input.mt,
select.mt {
    margin-top: 15px;
}

table {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

td {
    padding: 0 0 15px 10px;
    text-align: center;
    vertical-align: middle;
}

td img {
    width: auto;
    max-width: 100%;
}

section {
    display: inline-block;
    background-color: #666;
    padding: 15px;
    width: 100%;
}

#header {
    color: grey;
    background-color: #d2d2d2;
    padding-right: 10px;
}

#header img {
    display: block;
}

#nav {
    background-color: #fe8d1d;
    padding: 25px 0 0 0;
    text-align: center;
}

#nav ul {
    display: block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

#nav li {
    display: inline;
}

#nav li img {
    vertical-align: middle;
}

#content {
    padding: 30px 40px;
    max-width: 1200px;
    text-align: center;
}

#content div {
    margin: 0 auto;
}

.background-black {
    background: black;
}

.border-white {
    border: 2px solid white;
}

.login-form {
    max-width: 180px;
}

.height66 {
    height: 66px;
}

.width77 {
    width: 77%;
}

.width23 {
    width: 23%;
    min-width: 150px;
}

.compact {
    margin: 0 auto;
    max-width: 736px !important;
    width: 80%;
}

.strong {
    font-weight: 600;
}

.pgpkey {
    max-width: 620px;
}

.nopadding {
    padding: 0;
}

.padding-small {
    padding: 10px;
}

.pbs {
    padding-bottom: 15px;
}

.pt {
    padding-top: 20px;
}

.pb {
    padding-bottom: 50px;
}

.pl {
    padding-left: 10%;
}

.pr {
    padding-right: 10px;
}

.mt {
    margin-top: 10px;
}

.mb {
    margin-bottom: 50px;
}

.imgcol {
    min-width: 280px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-grey {
    color: grey;
}

.text-beige {
    color: #f9eadb;
}

.text-orange {
    color: #fe8d1d;
}

.text-green {
    color: green;
}

.text-large {
    font-size: 48px;
}

.text-medium {
    font-size: 24px;
}

.text-normal {
    font-size: 18px;
}

.text-small {
    font-size: 12px;
}

.text-underline {
    text-decoration: underline;
}

.clearfix {
    clear: both;
    display: inline-block;
}

.img-responsive {
    width: 100%;
    max-width: 100%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.valign-top {
    vertical-align: top;
}

.valign-middle {
    vertical-align: middle;
}

.valign-bottom {
    vertical-align: bottom;
}