* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    color: #b8b0d9;
    background-color: black;
    font-family: 'Arial';
    font-size: 16px;
    line-height: 1;
}

img {
    max-width: 100%;
}

a,
a:focus,
a:visited,
a:hover {
    color: #b8b0d9;
    text-decoration: none;
}

a.CPTAG, a.CFTAG,
a.CPTAG:focus, a.CFTAG:focus,
a.CPTAG:visited, a.CFTAG:visited,
a.CPTAG:hover, a.CFTAG:hover {
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    text-decoration: inherit !important;
}

h1 {
    color: #E0DDEE;
    padding-bottom: 15px;
}

div {
    padding-bottom: 25px;
}

p {
    margin: 0 auto;
    padding-bottom: 15px;
}

section {
    background-color: #25163f;
    padding: 10px;
}

#nav {
    display: inline-block;
    background: #430778;
    vertical-align: middle;
    padding: 13px 10px 0 10px;
    height: 42px;
    width: 100%;
}

#nav a {
    margin: auto 50px auto 0;
}

#alert {
    background-color: #430778;
    margin: 50px auto;
    padding: 50px;
    min-height: 25vw;
    width: 50%;
}

.w33 {
    display: inline-block;
    vertical-align: middle;
    padding: 40px;
    width: 33%;
}

.w33 img {
    max-width: 49%;
}

.strong {
    font-weight: 600;
}

.nopadding {
    padding: 0;
}

.pt {
    padding-top: 20px;
}

.pb {
    padding-bottom: 50px;
}

.pl {
    padding-left: 10px;
}

.pr {
    padding-right: 10px;
}

.mt {
    margin-top: 40px;
}

.mb {
    margin-bottom: 40px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-xlarge {
    font-size: 48px;
}

.text-large {
    font-size: 32px;
}

.text-medium {
    font-size: 24px;
}

.text-normal {
    font-size: 16px;
}

.text-small {
    font-size: 12px;
}

.text-underline {
    text-decoration: underline;
}

.text-whiteish {
    color: #E0DDEE;
}

.text-red {
    color: red;
}

.clearfix {
    clear: both;
}

.img-responsive {
    width: 100%;
    max-width: 100%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}