* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    color: #989c50;
    background-color: #222318;
    font-size: 18px;
    line-height: 1;
}

input {
    height: 20px;
    max-width: 100%;
}

h1 {
    font-size: 24px;
}

a {
    color: #d6ca85;
    text-decoration: underline;
    font-weight: 600;
}

a.CPTAG, a.CFTAG,
a.CPTAG:focus, a.CFTAG:focus,
a.CPTAG:visited, a.CFTAG:visited,
a.CPTAG:hover, a.CFTAG:hover {
    color: inherit !important;
    font-weight: inherit !important;
    text-decoration: inherit !important;
}

p {
    margin: 0 auto;
    padding-bottom: 15px;
}

table {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

td {
    padding: 0 0 15px 10px;
    text-align: center;
    vertical-align: middle;
}

td img {
    width: auto;
    max-width: 100%;
    height: 200px;
}

#nav {
    background-color: #4D4540;
    height: 28px;
    padding: 5px 0;
    text-align: center;
}

#nav ul {
    display: block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

#nav li {
    display: inline;
}

#content {
    padding: 40px;
    margin: 0 auto;
    max-width: 1120px;
    text-align: left;
}

#content img {
    margin: 15px;
}

#content div {
    margin: 0 auto;
    max-width: 1200px;
}

.compact {
    margin: 0 auto;
    max-width: 736px !important;
    width: 80%;
}

.border-green {
    border: 1px solid #989c50;
}

.strong {
    font-weight: 600;
}

.nopadding {
    padding: 0;
}

.pt {
    padding-top: 20px;
}

.pbs {
    padding-bottom: 20px;
}

.pb {
    padding-bottom: 50px;
}

.pl {
    padding-left: 10px;
}

.pr {
    padding-right: 10px;
}

.mt {
    margin-top: 40px;
}

.mb {
    margin-bottom: 50px;
}

.imgcol {
    min-width: 280px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-grey {
    color: grey;
}

.text-large {
    font-size: 48px;
}

.text-medium {
    font-size: 32px;
}

.text-normal {
    font-size: 18px;
}

.text-small {
    font-size: 12px;
}

.text-underline {
    text-decoration: underline;
}

.clearfix {
    clear: both;
    display: inline-block;
}

.img-responsive {
    width: 100%;
    max-width: 100%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.valign-top {
    vertical-align: top;
}

.valign-middle {
    vertical-align: middle;
}

.valign-bottom {
    vertical-align: bottom;
}