* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    color: silver;
    background-color: black;
    padding: 10px;
    font-size: 16px;
    line-height: 1;
}

p {
    margin: 17px auto;
}

hr {
    background-color: white;
    margin: 10px 0;
    height: 1px;
    width: 100%;
}

#header h1 {
    border: 1px double grey;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    padding: 36px 10%;
    margin: 0 auto;
}

#nav {
    text-align: center;
}

#nav ul {
    display: inline;
    width: auto;
}

#nav ul li {
    font-size: 20px;
}

#nav a {
    color: white;
}

.message {
    display: inline-block;
    border: 1px double grey;
    line-height: 17px;
    margin: 0 0 25px 0;
    padding: 15px 5px 10px 5px;
}

.message.author {
    background-color: #222B42;
}

.message.author .content {
    color: white;
}

.message .content {
    margin: 17px 0 10px 0;
    padding: 5px 0;
}

.message .date {
    color: #436DFE;
}

.strong {
    font-weight: 600;
}

.text-center {
    text-align: center;
}

.text-green {
    color: #0c0;
}

.text-yellow {
    color: yellow;
}

.text-pink {
    color: #FF00FF;
}

.text-brown {
    color: #996633;
}

.text-grey {
    color: grey;
}